.overlay {
  position: fixed;
  border-radius: 25px;
  overflow: hidden; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.spinner-container {
  text-align: center;
  color: white;  
}

.overlay-content-balanced {
  background-color: white;  
  border-radius: 15px;  
  height: 100px;
  width: 100px;
  padding: 20px;  
  text-align: center;  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.overlay-content p {
  margin: 0; 
  font-size: 18px;  
  font-family: 'Arial', sans-serif;  
  color: #333;  
  font-weight: bold;  
  line-height: 1.5;  
}