.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-hover {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-hover:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  z-index: 1; 
}

.scroll-container {
  display: flex; 
  padding-bottom: 10px;
  padding: 25px;
}

.scroll-container .card-column {
  min-width: 300px;
  margin-right: 16px;
  flex-shrink: 0;
  position: relative;
}

body{
  background-color: #f0f8ff; 
}


.scroll-container {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  scrollbar-width: thin;
}

.scroll-container::-webkit-scrollbar {
  height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.card-column {
  min-width: 200px;
  margin-right: 10px;
  flex: 0 0 auto;
} 